
::deep .mud-nav-link {
    margin: 1rem 1rem; 
    padding: 0.75rem 1rem !important; 
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out; 
    position: relative; 
}

/* Hover-Effect  */
::deep .mud-nav-link:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

/*active nav-link*/
::deep .mud-nav-link.active {
    background-color: rgba(255, 255, 255, 0.1);
    font-weight: 500;
}

::deep .mud-nav-link.active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 20%;
    height: 60%;
    width: 4px;
    background-color: var(--mud-palette-primary);
    border-radius: 0 4px 4px 0;
}

::deep .mud-appbar {
    background-color: var(--mud-palette-appbar-background) !important;
}


